*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    max-width: 100vh;
    padding: 0 2%;
    margin: 0 auto;
}
header{
    background-color:blue;
    text-align: center;
    padding: 9px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header li{
    display: inline-block;
    margin: 0 10px;
}
header a{
    color:white;
    text-decoration: none;
}
header a:hover{
    background-color: red;
    color: black;
}
.conteudo{
    height: 200vh;
}
section.content{
    margin-top: 35px;
}